/* GENERAL RULES */
*{
    margin: 0;
    padding: 0;
  }
  
  .container{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    text-align: center;
    background-image: url(../img/back.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .row{
    margin: auto;
  }

  h2{
    font-size: 30px;
    color: rgb(51, 255, 0);
  }